<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>wangfuAgent.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>armv7</string>
				<string>arm64</string>
			</array>
			<key>bitcode</key>
			<false/>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>9BF05BDF03ABD62B5BFF36A4A065379B4874A957</string>
				<key>dateExpires</key>
				<string>2020/11/3</string>
				<key>type</key>
				<string>iOS Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9BF05BDF03ABD62B5BFF36A4A065379B4874A957</string>
						<key>dateExpires</key>
						<string>2020/11/3</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>Alamofire.framework</string>
					<key>symbols</key>
					<false/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>34BD4U8K6Y</string>
						<key>name</key>
						<string>Wenzhou Zhuanban Information Technology Co., Ltd.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9BF05BDF03ABD62B5BFF36A4A065379B4874A957</string>
						<key>dateExpires</key>
						<string>2020/11/3</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>CLImagePickerTool.framework</string>
					<key>symbols</key>
					<false/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>34BD4U8K6Y</string>
						<key>name</key>
						<string>Wenzhou Zhuanban Information Technology Co., Ltd.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9BF05BDF03ABD62B5BFF36A4A065379B4874A957</string>
						<key>dateExpires</key>
						<string>2020/11/3</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>Differentiator.framework</string>
					<key>symbols</key>
					<false/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>34BD4U8K6Y</string>
						<key>name</key>
						<string>Wenzhou Zhuanban Information Technology Co., Ltd.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9BF05BDF03ABD62B5BFF36A4A065379B4874A957</string>
						<key>dateExpires</key>
						<string>2020/11/3</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>HandyJSON.framework</string>
					<key>symbols</key>
					<false/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>34BD4U8K6Y</string>
						<key>name</key>
						<string>Wenzhou Zhuanban Information Technology Co., Ltd.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9BF05BDF03ABD62B5BFF36A4A065379B4874A957</string>
						<key>dateExpires</key>
						<string>2020/11/3</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>Hero.framework</string>
					<key>symbols</key>
					<false/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>34BD4U8K6Y</string>
						<key>name</key>
						<string>Wenzhou Zhuanban Information Technology Co., Ltd.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9BF05BDF03ABD62B5BFF36A4A065379B4874A957</string>
						<key>dateExpires</key>
						<string>2020/11/3</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>IQKeyboardManagerSwift.framework</string>
					<key>symbols</key>
					<false/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>34BD4U8K6Y</string>
						<key>name</key>
						<string>Wenzhou Zhuanban Information Technology Co., Ltd.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9BF05BDF03ABD62B5BFF36A4A065379B4874A957</string>
						<key>dateExpires</key>
						<string>2020/11/3</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>Kingfisher.framework</string>
					<key>symbols</key>
					<false/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>34BD4U8K6Y</string>
						<key>name</key>
						<string>Wenzhou Zhuanban Information Technology Co., Ltd.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9BF05BDF03ABD62B5BFF36A4A065379B4874A957</string>
						<key>dateExpires</key>
						<string>2020/11/3</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>LTMorphingLabel.framework</string>
					<key>symbols</key>
					<false/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>34BD4U8K6Y</string>
						<key>name</key>
						<string>Wenzhou Zhuanban Information Technology Co., Ltd.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9BF05BDF03ABD62B5BFF36A4A065379B4874A957</string>
						<key>dateExpires</key>
						<string>2020/11/3</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>MJRefresh.framework</string>
					<key>symbols</key>
					<false/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>34BD4U8K6Y</string>
						<key>name</key>
						<string>Wenzhou Zhuanban Information Technology Co., Ltd.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9BF05BDF03ABD62B5BFF36A4A065379B4874A957</string>
						<key>dateExpires</key>
						<string>2020/11/3</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>Masonry.framework</string>
					<key>symbols</key>
					<false/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>34BD4U8K6Y</string>
						<key>name</key>
						<string>Wenzhou Zhuanban Information Technology Co., Ltd.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9BF05BDF03ABD62B5BFF36A4A065379B4874A957</string>
						<key>dateExpires</key>
						<string>2020/11/3</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>NVActivityIndicatorView.framework</string>
					<key>symbols</key>
					<false/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>34BD4U8K6Y</string>
						<key>name</key>
						<string>Wenzhou Zhuanban Information Technology Co., Ltd.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9BF05BDF03ABD62B5BFF36A4A065379B4874A957</string>
						<key>dateExpires</key>
						<string>2020/11/3</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>Reachability.framework</string>
					<key>symbols</key>
					<false/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>34BD4U8K6Y</string>
						<key>name</key>
						<string>Wenzhou Zhuanban Information Technology Co., Ltd.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9BF05BDF03ABD62B5BFF36A4A065379B4874A957</string>
						<key>dateExpires</key>
						<string>2020/11/3</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>RxAtomic.framework</string>
					<key>symbols</key>
					<false/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>34BD4U8K6Y</string>
						<key>name</key>
						<string>Wenzhou Zhuanban Information Technology Co., Ltd.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9BF05BDF03ABD62B5BFF36A4A065379B4874A957</string>
						<key>dateExpires</key>
						<string>2020/11/3</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>RxCocoa.framework</string>
					<key>symbols</key>
					<false/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>34BD4U8K6Y</string>
						<key>name</key>
						<string>Wenzhou Zhuanban Information Technology Co., Ltd.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9BF05BDF03ABD62B5BFF36A4A065379B4874A957</string>
						<key>dateExpires</key>
						<string>2020/11/3</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>RxDataSources.framework</string>
					<key>symbols</key>
					<false/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>34BD4U8K6Y</string>
						<key>name</key>
						<string>Wenzhou Zhuanban Information Technology Co., Ltd.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9BF05BDF03ABD62B5BFF36A4A065379B4874A957</string>
						<key>dateExpires</key>
						<string>2020/11/3</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>RxSwift.framework</string>
					<key>symbols</key>
					<false/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>34BD4U8K6Y</string>
						<key>name</key>
						<string>Wenzhou Zhuanban Information Technology Co., Ltd.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9BF05BDF03ABD62B5BFF36A4A065379B4874A957</string>
						<key>dateExpires</key>
						<string>2020/11/3</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>SJAttributesFactory.framework</string>
					<key>symbols</key>
					<false/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>34BD4U8K6Y</string>
						<key>name</key>
						<string>Wenzhou Zhuanban Information Technology Co., Ltd.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9BF05BDF03ABD62B5BFF36A4A065379B4874A957</string>
						<key>dateExpires</key>
						<string>2020/11/3</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>SJBaseVideoPlayer.framework</string>
					<key>symbols</key>
					<false/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>34BD4U8K6Y</string>
						<key>name</key>
						<string>Wenzhou Zhuanban Information Technology Co., Ltd.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9BF05BDF03ABD62B5BFF36A4A065379B4874A957</string>
						<key>dateExpires</key>
						<string>2020/11/3</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>SJObserverHelper.framework</string>
					<key>symbols</key>
					<false/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>34BD4U8K6Y</string>
						<key>name</key>
						<string>Wenzhou Zhuanban Information Technology Co., Ltd.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9BF05BDF03ABD62B5BFF36A4A065379B4874A957</string>
						<key>dateExpires</key>
						<string>2020/11/3</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>SJVideoPlayer.framework</string>
					<key>symbols</key>
					<false/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>34BD4U8K6Y</string>
						<key>name</key>
						<string>Wenzhou Zhuanban Information Technology Co., Ltd.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9BF05BDF03ABD62B5BFF36A4A065379B4874A957</string>
						<key>dateExpires</key>
						<string>2020/11/3</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>SQLite.framework</string>
					<key>symbols</key>
					<false/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>34BD4U8K6Y</string>
						<key>name</key>
						<string>Wenzhou Zhuanban Information Technology Co., Ltd.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9BF05BDF03ABD62B5BFF36A4A065379B4874A957</string>
						<key>dateExpires</key>
						<string>2020/11/3</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>SwiftyUserDefaults.framework</string>
					<key>symbols</key>
					<false/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>34BD4U8K6Y</string>
						<key>name</key>
						<string>Wenzhou Zhuanban Information Technology Co., Ltd.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9BF05BDF03ABD62B5BFF36A4A065379B4874A957</string>
						<key>dateExpires</key>
						<string>2020/11/3</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>TextFieldEffects.framework</string>
					<key>symbols</key>
					<false/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>34BD4U8K6Y</string>
						<key>name</key>
						<string>Wenzhou Zhuanban Information Technology Co., Ltd.</string>
					</dict>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>34BD4U8K6Y.com.yimi.wangfuAgent</string>
				<key>beta-reports-active</key>
				<true/>
				<key>com.apple.developer.team-identifier</key>
				<string>34BD4U8K6Y</string>
				<key>get-task-allow</key>
				<false/>
				<key>keychain-access-groups</key>
				<array>
					<string>34BD4U8K6Y.com.yimi.wangfuAgent</string>
				</array>
			</dict>
			<key>name</key>
			<string>wangfuAgent.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>792acbee-c642-49b2-97a9-438c373e2019</string>
				<key>name</key>
				<string>iOS Team Store Provisioning Profile: com.yimi.wangfuAgent</string>
			</dict>
			<key>symbols</key>
			<false/>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>34BD4U8K6Y</string>
				<key>name</key>
				<string>Wenzhou Zhuanban Information Technology Co., Ltd.</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
